
name: Run Python Code

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        
    - name: Run Python script
      run: |
        python hello.py > result.txt
        cat result.txt
        
    - name: Upload result
      uses: actions/upload-artifact@v4
      with:
        name: execution-result
        path: result.txt
